<a href="https://colab.research.google.com/github/Rameshrdy/FirstRepo/blob/master/sentiment_analysis_using_nltk_and_navie_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import required libraries
import re

import pandas as pd

import numpy as np

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

import nltk

from sklearn.feature_extraction.text import CountVectorizer

In [3]:
# loading data set
df = pd.read_csv('/content/Restaurant_Reviews.tsv',sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [ ]:
# Data Preprocessing
# Removing hyperlinks
def rhl(text):
   
  pattern = re.compile(r'http\S+|www.\S+')
  return re.sub(pattern, '', text)

df['Review']=df['Review'].apply(lambda text : rhl(text))
df.Review[999]

"Then, as if I hadn't wasted enough of my life there, they poured salt in the wound by drawing out the time it took to bring the check "

In [ ]:
#removing unneccesary characters using re
def rs(text):
  p=r"[^a-zA-Z\s]"
  x=re.sub(p,"",text)
  return x
df['Review']=df['Review'].apply(lambda text : rs(text))
df.Review[999]

'Then as if I hadnt wasted enough of my life there they poured salt in the wound by drawing out the time it took to bring the check '

In [ ]:
#removing stopwords
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english')) 
def stp(text):
  s=""
  for word in text.split():
    if word in stop_words:
      x=" "+word+" "
      text=text.replace(x," ")
  return text
df['Review']=df['Review'].apply(lambda text : stp(text))
df.Review[999]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

'Then, I wasted enough life there, poured salt wound drawing time took bring check '

In [ ]:
#converting all text into lower case
df['Review']=df['Review'].apply(lambda text : text.lower())
df.Review[999]

'then, i wasted enough life there, poured salt wound drawing time took bring check '

In [ ]:
#lemmatization
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemma(s):
  t="" 
  for i in s.split():
    x=lemmatizer.lemmatize(i)
    t=t+x+" "
  return t

df['Review']=df['Review'].apply(lambda text : lemma(text))
df.Review[999]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

'then, i wasted enough life there, poured salt wound drawing time took bring check '

In [ ]:
# loading df into csv file
df.to_csv('reviews.csv',index=False)

In [ ]:
# vectorization
cv = CountVectorizer()
x=cv.fit_transform(df['Review'].values.astype('U'))
y=df.Liked

In [ ]:
# label encoding
'''
le = LabelEncoder()

le.fit(["good",'bad'])
y=le.transform(["good",'bad','bad','good','bad'])
y
'''

'\nle = LabelEncoder()\n\nle.fit(["good",\'bad\'])\ny=le.transform(["good",\'bad\',\'bad\',\'good\',\'bad\'])\ny\n'

In [ ]:
# spliting data for training and testing
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((800, 1928), (200, 1928), (800,), (200,))

In [ ]:
# navie bayes model
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [ ]:
model.score(x_test,y_test)

0.74

In [ ]:
sample = [input("enter your review: ")]
vector = cv.transform(sample).toarray()
if model.predict(vector)[0]==1:
  print("positive")
else:
  print("negative")

enter your review: i don't like the place
negative